.calculator {
  min-width: 350px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "screen screen screen screen"
    "ac ac del divide"
    "one two three multiply"
    "four five six add"
    "seven eight nine subtract"
    "decimal zero equals equals";
  gap: 2px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}
